<phpunit bootstrap="vendor/silverstripe/cms/tests/bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="recipe-services">
            <directory>vendor/silverstripe/restfulserver/tests</directory>
            <directory>vendor/silverstripe/versionfeed/tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
